#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${toeDisplayedName} is an exclusive concept of ${ecosystemNameHighlight}
enabling cloud-based operations on TIBCO products and applications.

---

$h1 ${toeDisplayedName} - ${toeDisplayedInstallerName}

The ${toeDisplayedName} - ${toeDisplayedInstallerName} is a Maven plugin to
simply perform TIBCO products installations.

[Learn more »](${siteDisplayURL}/${toeInstallerURLBase}/index.html)

$h1 ${toeDisplayedName} - ${toeDisplayedDomainsName}

The ${toeDisplayedName} - ${toeDisplayedDomainsName} is a Maven plugin to create
and manage TIBCO domains.

[Learn more »](${siteDisplayURL}/${toeDomainsURLBase}/index.html)